@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Assistant", sans-serif;
}

@font-face {
  font-family: "Grifter";
  src: url("./fonts/grifterbold.otf") format("opentype");
}

@font-face {
  font-family: "Product Sans";
  src: url("./fonts/productsans.ttf") format("truetype");
}

.logo-label {
  color: black;
  font-family: "Grifter";
}

.cont-google img {
  width: 13em;
}
.cont-google {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Disable tap highlight for all elements */
* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

/* Disable tap highlight for specific elements */
a,
button {
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

/* App.css */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.card {
  display: inline-block;
}

* {
  font-family: "Assistant", sans-serif;
}

.product-sans {
  font-family: "Product Sans";
}

.assistant {
  font-family: "Assistant", sans-serif;
}

.assistant-bold {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
}

.assistant-light {
  font-family: "Assistant", sans-serif;
  font-weight: 200;
}

.grifter {
  font-family: "Grifter";
}
.pred::-webkit-progress-value {
  background-color: #ff0054;
}

.pred::-moz-progress-bar {
  background-color: #ff0054;
}

.pgreen::-webkit-progress-value {
  background-color: #03a685;
}

.pgreen::-moz-progress-bar {
  background-color: #03a685;
}

.porange::-webkit-progress-value {
  background-color: #ffa500;
}

.porange::-moz-progress-bar {
  background-color: #ffa500;
}

.selectable {
  cursor: pointer;
  --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
