body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Product Sans";
}

@font-face {
  font-family: "Grifter";
  src: url("./fonts/grifterbold.otf") format("opentype");
}

@font-face {
  font-family: "Product Sans";
  src: url("./fonts/productsans.ttf") format("truetype");
}

.logo-label {
  color: black;
  font-family: "Grifter";
}

.cont-google img {
  width: 13em;
}
.cont-google {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cont-google-btn {
  left: 50%;
  transform: translateX(-50%);
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  max-height: 80%;
  border-bottom-right-radius: 20%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Disable tap highlight for all elements */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Disable tap highlight for specific elements */
a,
button {
  -webkit-tap-highlight-color: transparent;
}
